force-app/main/default/flows/customer_contact_req1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CRF_Action3_New_ContactRequest</name>
        <label>CRF Static Action - New ContactRequest</label>
        <locationX>20</locationX>
        <locationY>470</locationY>
        <actionName>contactRequestAction</actionName>
        <actionType>contactRequestAction</actionType>
        <connector>
            <targetReference>CRF_Finish</targetReference>
        </connector>
        <inputParameters>
            <name>PreferredChannel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>CRF_User_Contact_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>CRF_Action2_Value_OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreferredPhone</name>
            <value>
                <elementReference>CRF_Channel_Phone_Field_Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestReason</name>
            <value>
                <elementReference>CRF_Field_Reason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestDescription</name>
            <value>
                <elementReference>CRF_Action2_New_ContactRequest_Reason_Desc_Formula</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>CRF_Value_Channel_Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRF_Value_Reason_1</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRF_Value_Reason_2</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRF_Value_Reason_3</name>
        <choiceText>Billing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRF_Value_Reason_4</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRF_Value_Reason_5</name>
        <choiceText>Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order</stringValue>
        </value>
    </choices>
    <formulas>
        <name>CRF_Action2_New_ContactRequest_Reason_Desc_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;From &quot; + {!CRF_Field_Full_Name} + &quot; — &quot; + {!CRF_Field_Reason_Desc}</expression>
    </formulas>
    <formulas>
        <name>CRF_User_Contact_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>CRF_User_Name_Formula</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!$User.UserType}, &#39;Guest&#39;), &quot;&quot; ,  TRIM({!$User.FirstName}+&quot; &quot;+{!$User.LastName}))</expression>
    </formulas>
    <formulas>
        <name>CRF_User_Phone_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.MobilePhone}), {!$User.Phone}, {!$User.MobilePhone})</expression>
    </formulas>
    <label>customer contact req1</label>
    <processType>ContactRequestFlow</processType>
    <screens>
        <name>CRF_Finish</name>
        <label>CRF Screen - Finish</label>
        <locationX>20</locationX>
        <locationY>620</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CRF_Finish_Header</name>
            <fieldText>&lt;h3 class=&quot;crfScreenHeader slds-align_absolute-center slds-text-heading_medium&quot;&gt;We’ll be in touch!&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRF_Finish_Header_Desc</name>
            <fieldText>&lt;div class=&quot;crfScreenHeader slds-align_absolute-center slds-m-top_xx-small&quot;&gt;Your request was sent. You’ll hear from us soon.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CRF_FullName_Phone</name>
        <label>CRF Screen - FullName Phone</label>
        <locationX>20</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CRF_Action3_New_ContactRequest</targetReference>
        </connector>
        <fields>
            <name>CRF_FullName_Phone_Header</name>
            <fieldText>&lt;h3 class=&quot;crfScreenHeader slds-align_absolute-center slds-text-heading_medium&quot;&gt;Where can we reach you?&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRF_FullName_Phone_Header_Desc</name>
            <fieldText>&lt;div class=&quot;crfScreenHeader slds-align_absolute-center slds-m-top_xx-small&quot;&gt;Leave us your contact details so we can follow up with you.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRF_Field_Full_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CRF_User_Name_Formula</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CRF_Channel_Phone_Field_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CRF_User_Phone_Formula</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Your phone number can’t have more than 40 characters.</errorMessage>
                <formulaExpression>LEN({!CRF_Channel_Phone_Field_Phone}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CRF_Reason_Desc</name>
        <label>CRF Screen - Reason Description</label>
        <locationX>20</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CRF_FullName_Phone</targetReference>
        </connector>
        <fields>
            <name>CRF_Reason_Desc_Header</name>
            <fieldText>&lt;h3 class=&quot;crfScreenHeader slds-align_absolute-center slds-text-heading_medium&quot;&gt;What’s going on?&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRF_Reason_Desc_Header_Desc</name>
            <fieldText>&lt;div class=&quot;crfScreenHeader slds-align_absolute-center slds-m-top_xx-small&quot;&gt;You don’t have to call us to get help. Just tell us about your issue and we’ll get back to you.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRF_Field_Reason</name>
            <choiceReferences>CRF_Value_Reason_1</choiceReferences>
            <choiceReferences>CRF_Value_Reason_2</choiceReferences>
            <choiceReferences>CRF_Value_Reason_3</choiceReferences>
            <choiceReferences>CRF_Value_Reason_4</choiceReferences>
            <choiceReferences>CRF_Value_Reason_5</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CRF_Value_Reason_1</defaultSelectedChoiceReference>
            <fieldText>Request Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CRF_Field_Reason_Desc</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CRF_Reason_Desc</startElementReference>
    <status>Active</status>
    <variables>
        <name>CRF_Action1_Value_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CRF_Action2_Value_ContactRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CRF_Action2_Value_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054T000000EfPTQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>CRF_Channel_Email_Default_Value_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CRF_Channel_Phone_Default_Value_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CRF_Default_Value_Full_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
